@tailwind base;
@tailwind components;
@tailwind utilities;

.hiddenScroll::-webkit-scrollbar {
    display: none;
}

@keyframes pulse {
    0% {
        opacity: 0
    }

    24% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    74% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes pageAnimLeft {
    0% {
        transform: translateX(-20rem)
    }

    100% {
        transform: translateX(0)
    }
}