@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
    0% {
        opacity: 0
    }

    24% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    74% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}